MONGO_DB_URL=mongodb://mongo:27017/server
JWT_KEY_PRIV="-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBAKwoAoW/UlCg9e52NJ9Q1wAg69MwwmFF9i8EBkj0rlH+SFpwpOGl\nLwx+pOdMTDqPW438Re3j+GioLohRTST3mDUCAwEAAQJAVj9hLCJymcRaEVKVAG/e\nlsjnfJGEAHmtYVaR04EJyDdYx32PYoe7C11NCXvfvkIjh5uRu45Ux1zoh34TaWNg\nDQIhAPQYiS7gJjOOYy/Zvx/ZDU6shJn3NS95JGoY2AATyTy3AiEAtI1UeuTVToHC\n6Tb+Tnnt4ot5JIk0QH1qVZD5FF8LPnMCIEyCfE1jGNZEJTbUa6HR6OfmD1IrOFJ/\nCDjxPJMZoJQVAiApKAo41U7WTXf7p2CCzQJv4LElpez2QmBpztkoTp4GhwIhAJdE\nTqPNwKYl3Zh5CnyG+AtY3Sshaim3JzbK8yyCY9FN\n-----END RSA PRIVATE KEY-----"
JWT_KEY_PUB="-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKwoAoW/UlCg9e52NJ9Q1wAg69MwwmFF\n9i8EBkj0rlH+SFpwpOGlLwx+pOdMTDqPW438Re3j+GioLohRTST3mDUCAwEAAQ==\n-----END PUBLIC KEY-----"